body {
    background-color: #fafafa;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tt-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 2px 2px;
    background-color: #ffffff;
    height: 300px;
    width: 300px;
}

.center {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 4px;
}
