body {
    background-color: #fafafa;
    font-family: "Hack", monospace;
}

header {
    text-align: center;
    padding: 32px;
}

footer {
    text-align: center;
    padding: 32px;
}

input {
  height: 28px;
  width: 180px;
  margin-left: 4px;
  border: 2px solid #54B265;
  padding-left: 8px;
  transition-duration: 0.4s;
  outline: none;
}

input:focus {
    border-color: #33A5D2;
    /*outline: none;*/
    transition-duration: 0.4s;
}

.time-section {
  margin-top: 18px;
}

.start-button {
  background-image: url("images/start.svg");
}

.pause-button {
  background-image: url("images/pause.svg");
}

.remove-button {
  background-image: url("images/remove.svg");
}

.reset-button {
  background-image: url("images/reset.svg");
}

.add-button {
  background-image: url("images/add.svg");
}


.img-button {
  height: 36px;
  width: 36px;
  margin: 1px 3px;
  background-size: 100%;
  border: none;
  /* transition-duration: 0.4s; */
  transition: filter 0.4s ease;
  background-color: transparent;
}

.img-button:hover {
    filter: drop-shadow(0px 3px 3px #363636);
}

.img-button:active {
    filter: drop-shadow(0px 1px 1px #363636);
    /* transition-duration: 0.2s; */
    transition: filter 0.2s ease;
}

.text-button {
  background-color: white;
  background-size: 100%;
  color: black;
  border: 2px solid #54B265;
  height: 36px;
  cursor: pointer;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
}

.text-button:hover {
    background-color: #54B265;
    color: white;
}

.text-button:active {
  background-color: #54B265;
  color: white;
  text-decoration: none;
}

.text-button:disabled {
  background-color: #d9d9d9;
  color: black;
}

.tt-button-section {
  margin-top: 16px;
}

.button-left {
  float: left;
  margin-left: 0px;
  margin-right: 8px;
}

.button-right {
  float: right;
  margin-right: 0px;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tt-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 1115px;
    justify-content: center;
}

.tt-list>li {
    display: flex;
    align-items: center;
    margin: 8px;
    border: 1px solid #54B265;
    border-radius: 2px;
    box-shadow: 0px 2px 5px grey;
    background-color: #ffffff;
    height: auto;
    width: auto;
}

.tt-list>li>div {
    margin: 5px;
    height: auto;
    width: auto;
    border: solid;
    border-radius: 4px;
    border-color: #f2f2f2;
    padding: 8px;
}
